* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-container {
  background-color: #333;
  color: white;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  top: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  display: flex;
  align-items: center;
  
}

.navbar .logo img {
  height: 50px;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
}

.loginContainer {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  max-width: 400px;
  width: 100%;
}

input[type="email"],
input[type="password"],
button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#loginFeedback {
  margin-top: 10px;
  text-align: center;
}

#registerLink {
  text-align: center;
  margin-top: 10px;
}

.RegistreerContainer {
  width: 500px;
  max-width: 900px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.RegistreerContainer label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
h2{
  margin-bottom: 15px;
}
.RegistreerContainer input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.RegistreerContainer button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.RegistreerContainer button:hover {
  background-color: #0056b3;
}

.button-div {
  text-align: center;
  margin-top: 20px;
}
